@using MelonBookshelf.Data
@model ResourcePageViewModel

<table class="table">
    <thead>
        <tr class="text-center">
            <th>Type</th>
            <th>Category</th>
            <th>Author</th>
            <th>Title</th>
            <th>Wanters</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Resources)
        {
            <tr>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>


                <td class="align-middle">
                    @if (item.Type == ResourceType.Physical)
                    {

                        @Html.DisplayFor(modelItem => item.wantedResources.Count)

                    }
                </td>
             
                <td class="align-middle">
                    @if (item.Type != ResourceType.Physical)
                    {

                        @if (!string.IsNullOrEmpty(item.Location))
                        {
                            <a href="@Url.Action("Download", "Resource", new { resourceId = item.ResourceId })" class="btn btn-primary">Download</a>
                        }
                        else
                        {
                            <span>No File Available</span>
                        }

                    }
                    else
                    {
                        @if (item.Want == true)
                        {

                            <a class="btn btn-success" asp-action="Unwant" asp-route-resourceId="@item.ResourceId">Want</a>

                        }
                        else
                        {

                            <a class="btn btn-outline-success" asp-action="Want" asp-route-resourceId="@item.ResourceId">Want</a>

                        }
                    }
                </td>
                <td class="align-middle">
                    @if (User.IsInRole("Admin"))
                    {
                        <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.ResourceId" data-ajax="true" data-ajax-method="get" data-ajax-mode="replace" data-ajax-update="#editPartial" data-ajax-success="showModal()" style="width: 80px;">Edit</a>
                        <a class="btn btn-outline-info mt-1" asp-action="Details" asp-route-id="@item.ResourceId" style="width: 80px;">
                            <i class="bi bi-pencil-square"></i>Details
                        </a>
                    }
                    else{
                        <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.ResourceId" style="width: 80px;">
                            <i class="bi bi-pencil-square"></i>Details
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>